<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">Home</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="registration">Registration </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="allUsers">All Users </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
