<div class="container">
  <h5 class="float-right"> {{ date | date:'EEEE, MMMM d, y' }} </h5>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="center">Hello {{user.name}}</h1>
      <h2 class="center">You are registered in our System</h2>
      <h3 class="center">Your Data:</h3>
      <h4>
        <ul class="list-group">
          <li class="list-group-item">Your Phone Number: {{user.phoneNumber}}</li>
          <li class="list-group-item">Your Monthly Salary: {{user.monthlySalary | currency:"USD":true:'1.0-0'}}</li>
          <li class="list-group-item">Your Current Remaining Liabilities:
            {{user.liabilities | currency:"USD":true:'1.0-0'}}</li>
          <li class="list-group-item">Your BirthDate: {{user.birthDate | date }}</li>
          <li class="list-group-item credit">Allowed Credit Limit for You: {{ customerCredit | currency:"USD":true:'1.0-0'}}</li>
        </ul>
      </h4>

      <button class="btn btn-warning" (click)="onEdit()">Edit Your Data</button>

      <button class="btn btn-danger float-right" (click)="onLogout()">
        Log out</button>
  </div>
  </div></div>


