<div class="container">
  <div class="row">
    <div class="col-xl-6">

      <div class="alert alert-success"
           *ngIf="message"> {{ message }}
      </div>

      <div class="form-group">
        <p class="text-muted float-right">
          <button type="submit" class="btn btn-outline-warning" (click)="toLoginPage()">Go Back to My Main Page</button>
        </p>

      </div>


      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group"
             [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
          <label for="name">You can Change Your Name</label>
          <input id="name"
                 type="text"
                 class="form-control"
                 formControlName="name">
          <br>
          <span class="alert alert-danger"
                *ngIf="form.get('name').invalid && form.get('name').touched">

         <span *ngIf="form.get('name')['errors']['required']">Name cann't be empty</span>
         <span
           *ngIf="form.get('name')['errors']['minlength'] && form.get('name')['errors']['minlength']['requiredLength']">
            Password must be greater
             {{ form.get('name')['errors']['minlength']['requiredLength'] }}
             symbols. Now it's
              {{ form.get('name')['errors']['minlength']['actualLength']}}.
              Only [A-Za-z0-9]
         </span>
            <span *ngIf="form.get('name')['errors']['forbiddenName']">This Name already exist</span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
          <label for="password">You can Change Your Password</label>
          <input id="password"
                 type="password"
                 class="form-control"
                 formControlName="password">
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('password').invalid && form.get('password').touched"
          >
      <span *ngIf="form.get('password')['errors']['required']">Password cann't be empty</span>
      <span
        *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Password must be greater
         {{ form.get('password')['errors']['minlength']['requiredLength'] }}
          symbols. Now it's
          {{ form.get('password')['errors']['minlength']['actualLength']}}.
         Only [A-Za-z0-9]
      </span>
          </span>
        </div>

        <div class="alert alert-dark">
          <b>Your BirthDate:{{ user.birthDate | date}}</b></div>


        <div class="form-group"
             [ngClass]="{'has-error': form.get('phoneNumber').invalid && form.get('phoneNumber').touched}">
          <label for="phoneNumber">You can Change Your Phone Number</label>
          <input id="phoneNumber"
                 type="number"
                 pattern="^[0-9]{9}$"
                 class="form-control"
                 formControlName="phoneNumber"
          >
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched"
          >
      <span *ngIf="form.get('phoneNumber')['errors']['required']">
        Phone Number cann't be empty</span>
            <span *ngIf="form.get('phoneNumber')['errors']['pattern']">
              Phone Number must consist of 9 Numbers
            </span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('monthlySalary').invalid && form.get('monthlySalary').touched}">
          <label for="monthlySalary">You can Change Your Monthly Salary</label>
          <input id="monthlySalary"
                 type="number"
                 pattern="(?:\d*\.)?\d+"
                 class="form-control"
                 formControlName="monthlySalary">
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('monthlySalary').invalid && form.get('monthlySalary').touched"
          >
      <span *ngIf="form.get('monthlySalary')['errors']['required']">Monthly Salary cann't be empty</span>
      <span *ngIf="form.get('monthlySalary')['errors']['pattern']">
              Only Numbers
            </span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('liabilities').invalid && form.get('liabilities').touched}">
          <label for="liabilities">You can Change Your Current Remaining Liabilities</label>
          <input id="liabilities"
                 type="number"
                 pattern="(?:\d*\.)?\d+"
                 class="form-control"
                 formControlName="liabilities">
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('liabilities').invalid && form.get('liabilities').touched"
          >
      <span *ngIf="form.get('liabilities')['errors']['required']">Liabilities cann't be empty</span>
        <span *ngIf="form.get('liabilities')['errors']['pattern']">
              Only Numbers
            </span>
          </span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary"
                  [disabled]="form.invalid">Change
          </button>
          <button class="btn btn-danger float-right" (click)="onDelete(user.id)">
            Delete My Profile from DataBase</button>
        </div>
      </form>
    </div>
  </div>
</div>

