<div class="container">
  <div class="row">
    <div class="col-xl-6">
       <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group"
             [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}">
          <label for="name">Please Enter Your Name</label>
          <input id="name"
                 type="text"
                 class="form-control"
                 formControlName="name">
          <br>
          <span class="alert alert-danger"
            *ngIf="form.get('name').invalid && form.get('name').touched">

         <span *ngIf="form.get('name')['errors']['required']">Name cann't be empty</span>
         <span *ngIf="form.get('name')['errors']['minlength'] && form.get('name')['errors']['minlength']['requiredLength']">
            Password must be greater
             {{ form.get('name')['errors']['minlength']['requiredLength'] }}
             symbols. Now it's
              {{ form.get('name')['errors']['minlength']['actualLength']}}.
              Only [A-Za-z0-9]
         </span>
            <span *ngIf="form.get('name')['errors']['forbiddenName']">This Name already exist</span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
          <label for="password">Please Enter Your Password</label>
          <input id="password"
                 type="password"
                 class="form-control"
                 formControlName="password">
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('password').invalid && form.get('password').touched"
          >
      <span *ngIf="form.get('password')['errors']['required']">Password cann't be empty</span>
      <span
        *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Password must be greater
         {{ form.get('password')['errors']['minlength']['requiredLength'] }}
          symbols. Now it's
          {{ form.get('password')['errors']['minlength']['actualLength']}}.
         Only [A-Za-z0-9]
      </span>
          </span>
        </div>

        <div class="form-group"
              [ngClass]="{'has-error': form.get('birthDate').invalid && form.get('birthDate').touched}">
          <label for="birthDate">Please Enter Your Birthdate <i>(Filled only once)</i></label>
           <input id="birthDate"
                  type="date"
                  class="form-control"
                  formControlName="birthDate">
           <br>
           <span
             class="alert alert-danger"
             *ngIf="form.get('birthDate').invalid && form.get('birthDate').touched"
           >
      <span *ngIf="form.get('birthDate')['errors']['required']">The Field isn't Valid
      </span>
          </span>
         </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('phoneNumber').invalid && form.get('phoneNumber').touched}">
          <label for="phoneNumber">Please Enter Your Phone Number</label>
          <input id="phoneNumber"
                 type="number"
                 pattern="^[0-9]{9}$"
                 class="form-control"
                 formControlName="phoneNumber"
          >
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('phoneNumber').invalid && form.get('phoneNumber').touched"
          >
      <span *ngIf="form.get('phoneNumber')['errors']['required']">
        Phone Number cann't be empty</span>
            <span *ngIf="form.get('phoneNumber')['errors']['pattern']">
              Phone Number must consist of 9 Numbers
            </span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('monthlySalary').invalid && form.get('monthlySalary').touched}">
          <label for="monthlySalary">Please Enter Your Monthly Salary</label>
          <input id="monthlySalary"
                 type="number"
                 pattern="(?:\d*\.)?\d+"
                 class="form-control"
                 formControlName="monthlySalary">
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('monthlySalary').invalid && form.get('monthlySalary').touched"
          >
      <span *ngIf="form.get('monthlySalary')['errors']['required']">Monthly Salary cann't be empty</span>
      <span *ngIf="form.get('monthlySalary')['errors']['pattern']">
              Only Numbers
            </span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': form.get('liabilities').invalid && form.get('liabilities').touched}">
          <label for="liabilities">Please Enter Your Current Remaining Liabilities</label>
          <input id="liabilities"
                 type="number"
                 pattern="(?:\d*\.)?\d+"
                 class="form-control"
                 formControlName="liabilities">
          <br>
          <span
            class="alert alert-danger"
            *ngIf="form.get('liabilities').invalid && form.get('liabilities').touched"
          >
      <span *ngIf="form.get('liabilities')['errors']['required']">Liabilities cann't be empty</span>
        <span *ngIf="form.get('liabilities')['errors']['pattern']">
              Only Numbers
            </span>
          </span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary"
                  [disabled]="form.invalid">Register
          </button>
        </div>
         <div class="form-group">
        <p class="text-muted text-xs-center">
          Already have an Account ?
          <a [routerLink]="'/login'"> Login</a>
        </p>
         </div>
      </form>
    </div>
  </div>
</div>

