<div class="container">
  <div class="row">
    <div *ngIf="users?.length > 0;else noUsers" class="col-xs-12">
      <div *ngFor="let user of users">
        <table class="table-bordered table-striped">
          <tr><th>Username</th>
            <th>Phone Number</th>
            <th>BirthDate</th>
            <th>Monthly Salary</th>
            <th>Current remaining liabilities</th>
          </tr>

          <tr><th>  {{ user.name }}</th>
            <th>  {{ user.phoneNumber }} </th>
            <th>  {{ user.birthDate | date }}   </th>
            <th>  {{ user.monthlySalary | currency:"USD":true:'1.0-0' }} </th>
            <th>  {{ user.liabilities | currency:"USD":true:'1.0-0' }} </th></tr>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>
<ng-template #noUsers class="container">
  <hr>
  <h4>There are no Users in the System</h4>
</ng-template>
