<div class="container">
  <div class="row">
    <div class="col-xl-6">

      <div class="alert alert-{{ message.type }}"
      *ngIf="message.text"> {{ message.text }}</div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group"
        [ngClass]="{'has-error': loginForm.get('name').invalid && loginForm.get('name').touched}">
            <label for="name">Please Enter Your Name</label>
            <input id="name"
                   type="text"
                   pattern="^[A-Za-z0-9_]{4,16}$"
                   class="form-control"
                   formControlName="name">
            <br>
          <span
          class="alert alert-danger"
          *ngIf="loginForm.get('name').invalid && loginForm.get('name').touched"
          >
         <span *ngIf="loginForm.get('name')['errors']['required']">Name cann't be empty</span>
         <span *ngIf="loginForm.get('name')['errors']['minlength'] && loginForm.get('name')['errors']['minlength']['requiredLength']">
            Name must be greater
             {{ loginForm.get('name')['errors']['minlength']['requiredLength'] }}
             symbols. Now it's
              {{ loginForm.get('name')['errors']['minlength']['actualLength']}}.
              Only [A-Za-z0-9]
         </span>
          </span>
        </div>

        <div class="form-group"
             [ngClass]="{'has-error': loginForm.get('password').invalid && loginForm.get('password').touched}">
          <label for="password">Please Enter Your Password</label>
          <input id="password"
                 type="text"
                 pattern="^[A-Za-z0-9_]{4,16}$"
                 class="form-control"
                 formControlName="password">
          <br>
          <span
          class="alert alert-danger"
          *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
        >
      <span *ngIf="loginForm.get('password')['errors']['required']">Password cann't be empty</span>
      <span *ngIf="loginForm.get('password')['errors']['minlength'] && loginForm.get('password')['errors']['minlength']['requiredLength']">
        Password must be greater
         {{ loginForm.get('password')['errors']['minlength']['requiredLength'] }}
          symbols. Now it's
          {{ loginForm.get('password')['errors']['minlength']['actualLength']}}.
         Only [A-Za-z0-9]
      </span>
          </span>
        </div>
        <br>

        <button type="submit" class="btn btn-primary" >Log in</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Don't have an account? <a routerLink="/registration">You can sign up here</a>
    </p>
  </div>
</div>

